@font-face {
	font-family: 'Rubik';
	src: url('/Fonts/Rubik/Rubik.ttf');
}

@font-face {
	font-family: 'Rubik';
	font-style: italic;
	src: url('/Fonts/Rubik/Rubik-Italic.ttf');
}

/* Thin */

@font-face {
	font-family: 'Lato';
	font-weight: 100;
	src: url('/Fonts/Lato/Lato-Thin.ttf');
}

@font-face {
	font-family: 'Lato';
	font-weight: 100;
	font-style: italic;
	src: url('/Fonts/Lato/Lato-ThinItalic.ttf');
}

/* Light */

@font-face {
	font-family: 'Lato';
	font-weight: 300;
	src: url('/Fonts/Lato/Lato-Light.ttf');
}

@font-face {
	font-family: 'Lato';
	font-weight: 300;
	font-style: italic;
	src: url('/Fonts/Lato/Lato-LightItalic.ttf');
}

/* Regular */

@font-face {
	font-family: 'Lato';
	font-weight: 400;
	src: url('/Fonts/Lato/Lato-Regular.ttf');
}

@font-face {
	font-family: 'Lato';
	font-weight: 400;
	font-style: italic;
	src: url('/Fonts/Lato/Lato-RegularItalic.ttf');
}

/* Bold */

@font-face {
	font-family: 'Lato';
	font-weight: 700;
	src: url('/Fonts/Lato/Lato-Bold.ttf');
}

@font-face {
	font-family: 'Lato';
	font-weight: 700;
	font-style: italic;
	src: url('/Fonts/Lato/Lato-BoldItalic.ttf');
}

/* Black */

@font-face {
	font-family: 'Lato';
	font-weight: 900;
	font-style: italic;
	src: url('/Fonts/Lato/Lato-Black.ttf');
}

@font-face {
	font-family: 'Lato';
	font-weight: 900;
	font-style: italic;
	src: url('/Fonts/Lato/Lato-BlackItalic.ttf');
}
