#productCategory {
	display: flex;
	gap: 1rem;
	padding-bottom: 0;
}

#productCategory .item {
	user-select: none;
	cursor: pointer;
	transition: color 100ms;
	padding-bottom: 1rem;

	&:hover {
		.item-name,
		&:not(:has(.dropdown)) {
			color: var(--c-accent-500);
		}

		.dropdown {
			opacity: 1;
			scale: 1;
			padding: 1rem 2rem;
		}
	}

	.dropdown {
		transition: all 200ms;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		opacity: 0;
		scale: 1 0;
		transform-origin: top;
		overflow: auto;
		background-color: var(--t-background1-accent);
		border-radius: 0 0 6px 6px;
		cursor: auto;
		padding: 0rem 2rem;
		max-height: 300px;

		&.dropdown-columns {
			display: grid;
			grid-template-rows: 100%;
			grid-auto-columns: 200px;
			grid-auto-flow: column;
			line-height: 1.5;

			.column-item {
				font-weight: 300;
				cursor: pointer;
				width: max-content;
				transition: color 100ms;

				&:hover {
					color: var(--c-accent-400);
				}

				a {
					color: inherit;
					text-decoration: none;
				}
			}
			.column-title {
				font-family: 'Rubik';
			}
		}
	}
}
