#productCategory{
    position: absolute;
    flex-wrap: wrap;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    width:100vw; 
    padding: 0;
}
#productCategory span {
    user-select: none;
}
input[type="checkbox"]{
    opacity: 0;
}

.drop-down{
    margin:15px;

}
.home{
    height: 100vh;

}
.content{
    position: relative;
    position: absolute;


}

.menu{
    display: none;
    width: 100vw;
    height:20vh;
    border: solid 1px var(--c-gray-900);
    background-color: white;
    top: 0;
    bottom: 0;

}

#button-menu-1:checked ~ #menu-1{
    display: block !important;
}
#animatedBackground{
    margin-top: 10vh;
    width: 100vw;
    height: 100vh;
    object-fit:cover ;
    object-position: 50% 0%;
}