@use './colors.scss';
@use './containers.scss';
@use './fonts.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--c-white);
	color: var(--c-black);
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}

a {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	transform: scaleY(80%);
	font-weight: 300;
	font-family: 'Rubik', Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
}

header {
	background-color: var(--c-gray-50);

	.container {
		display: grid;
		grid-template-columns: auto 1fr;

		.logo {
			grid-column: 1 / 2;
			aspect-ratio: 3 / 1;
			height: 5rem;
		}

		.icones {
			display: flex;
			grid-column: 2 / 3;
			align-items: center;
			margin-left: auto;
			height: 100%;

			#theme-switch {
				cursor: pointer;

				#theme-cb {
					width: 0;
					height: 0;
					visibility: hidden;
					position: absolute;

					&:checked {
						+ #theme-track {
							&:hover {
								border-color: var(--c-blue-300);
								box-shadow: 0 0 1rem var(--c-blue-600);
							}

							#theme-knob {
								margin-left: calc(46px - 21px);
							}
						}
					}
				}

				#theme-track {
					width: 50px;
					height: 25px;
					background-color: var(--c-gray-200);
					border-radius: 100vw;
					padding: 2px;
					transition: all 200ms;
					border: 1px solid var(--c-gray-400);
					position: relative;

					&:hover {
						border-color: var(--c-yellow-300);
						box-shadow: 0 0 1rem var(--c-yellow-100);
					}

					#theme-knob {
						height: calc(100% - 2 * 2px);
						aspect-ratio: 1 / 1;
						background-color: var(--c-gray-50);
						border-radius: 100vw;
						margin-left: 0px;
						transition: all 300ms ease-out;
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						z-index: 100;
					}

					.lucide {
						height: calc(100% - 2 * 4px);
						margin: 2px;
						aspect-ratio: 1 / 1;
						position: absolute;
						z-index: 99;

						&.lucide-sun-icon {
							right: 0;
						}

						&.lucide-moon-icon {
							left: 0;
						}
					}
				}
			}
		}
	}
}

nav {
	background-color: var(--c-gray-50);
	padding: 1rem 0;

	.container {
		display: flex;
		position: relative;
		gap: 1rem;

		.underline {
			position: absolute;
			bottom: -5px;
			left: 0;
			transition: all 300ms;
			background-color: var(--c-accent-500);
			height: 2px;
		}

		.item {
			color: var(--c-black);
			font-size: 1.1rem;
			text-decoration: none;

			&.router-link-active,
			&.router-link-exact-active {
				color: var(--c-accent-500);
			}
		}
	}
}

body.theme-dark {
	header {
		.logo {
			filter: invert(1);
		}
	}
}
